.login
    .row
        .column_12
            i.fa.fa-cog.fa-2x
            span.login_title NecSpace Login
    .row(style='height: 20px;')
    .row
        .column_12
            .row
                .column_8
                    form.login_form
                        .ui.input.mini(style='width: 100%')
                            input(type='password', name='login_password_input', placeholder='password...')
                .column_4
                    button.button.blue(style='float: left; margin-top: 1px; margin-left: 10px;') Login
