@blue: #3996D4;
@default: #F5F5F5;

.button {
  height: 30px;
  color: #BBBBBB;
  cursor: pointer;
  font-size: 12px;
  padding-right: 13px;
  padding-left: 13px;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  font-family: JejuGothic;
  background-color: @default;
  border-color: darken(@default, 10%);

  &:hover {
    background-color: darken(@default, 10%);
  }

  &:active {
    background-color: darken(@default, 20%);
  }

  &.blue {
    color: #F5F5F5;
    background-color: @blue;
    border-color: darken(@blue, 10%);

    &:hover {
      background-color: darken(@blue, 10%);
    }

    &:active {
      background-color: darken(@blue, 20%);
    }
  }

  &:focus {
    outline: none;
  }
}
