.container
    .row(style='height: 100px;')
    .row
        .column_3
        .column_6
            +login
    .row(style='height: 50px;')
    .row
        .column_3
        .column_6
            img(src='/images/ryan.gif', style='width: 100%')
